// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
    background: red;
    border-bottom: 1px solid #005684;
    
   
    left: 0;
    margin-bottom: 16px;
   
    //position: fixed;
    width: 100%;
	color: white;
}